.form-preview-container {
    width: 30%;
    margin-top: 5%;
    margin-left: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5eeca;
    transition: width 0.3s ease;
}

.form-preview-container .no-data {
    font-size: 1.2em;
    color: red;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.form-preview-container p {
    font-size: 1.2em;
    color: #555;
}

.user-data{
    width: auto;
}